<template>
  <div class="channelcost">
    <header>
      <ul>
        <li>
          <span>省份：</span>
          <el-select v-model="provinceId" filterable placeholder="请选择" size="small">
            <el-option v-for="item in provinceOptions" :key="item.value" :label="item.label" :value="item">
            </el-option>
          </el-select>
        </li>
        <li>
          <span>运营商：</span>
          <el-select v-model="yysType" filterable placeholder="请选择" size="small" @change="handeleGetPackageSize">
            <el-option v-for="item in yysOptions" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </li>
        <li>
          <span>本地/漫游：</span>
          <el-select v-model="roaming" filterable placeholder="请选择" size="small">
            <el-option v-for="item in roamingOptions" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </li>
        <li>
          <span>包大小：</span>
          <el-select v-model="packageSize" filterable placeholder="请选择" size="small" @change="handlepackageSizeChange">
            <el-option v-for="item in packageSizeOption" :key="item.value" :label="item.label" :value="item">
            </el-option>
          </el-select>
        </li>
        <li>
          <span>包型：</span>
          <el-select v-model="packageType" filterable placeholder="请选择" size="small">
            <el-option v-for="item in packageTypeOptions" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
        </li>
        <li>
          <el-button type="primary" icon="el-icon-search" size="small" v-on:click="handleGetChannel">搜索</el-button>
        </li>
      </ul>
    </header>
    <section class="content">
      <div>
        <el-table ref="multipleTable" :data="channel" @selection-change="handleSelectionChange" border max-height="768">
          <el-table-column type="selection" width="55">
          </el-table-column>
          <el-table-column label="通道名称" width="240">
            <template slot-scope="scope">
              <div :class="{green: scope.row.isScan}">{{ scope.row.channelName }}</div>
            </template>
          </el-table-column>
        </el-table>
        <el-button type="primary" icon="el-icon-search" size="small" @click="handleGetChannelData">搜索</el-button>
      </div>
      <div class="tabWidth">
        <el-table :data="channelData" tooltip-effect="dark" max-height="768" style="100%" border>
          <el-table-column prop="name" label="通道名称" show-overflow-toolti width="180" fixed>
          </el-table-column>
          <el-table-column v-for="item in tablePackageSizeOption" :key="item.value" :label="item.label" v-if="item.value !=='0'">
            <template slot-scope="scope">
              <span v-if="scope.row[item.label] == undefined || scope.row[item.label] === ''">---</span>
              <span v-else-if="(scope.row.name !== '最低折扣'&& scope.row.name !=='所走通道')&&(scope.row[item.label] === channelData[channelData.length-2][item.label])" class="red">{{scope.row[item.label]}}</span>
              <span v-else>{{scope.row[item.label]}}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </section>
  </div>
</template>

<script>
import { getChannel, getPackageSize, getPackageType, getChannelData } from '../api/api'
export default {
  name: 'Channelcost',
  created() {
    Promise.all(
      [
        getPackageSize({ method: 'queryPackageSizeByYYS', yysType: this.yysType }),
        getPackageType({ method: 'queryPackageType' })
      ]
    ).then((res) => {
      this.packageSizeOption = this.temp = res[0]
      this.packageTypeOptions = res[1]
    })
  },
  data() {
    return {
      provinceId: {
        value: '0',
        label: '全国'
      },
      yysType: '1',
      roaming: '1',
      packageSize: {
        label: '全部',
        value: '0'
      },
      packageType: '0',
      provinceOptions: [
        {
          value: '0',
          label: '全国QG'
        },
        {
          value: '11',
          label: '安徽AH'
        },
        {
          value: '1',
          label: '北京BJ'
        },
        {
          value: '3',
          label: '重庆CQ'
        },
        {
          value: '21',
          label: '福建FZ'
        },
        {
          value: '4',
          label: '广东GD'
        },
        {
          value: '27',
          label: '甘肃GS'
        },
        {
          value: '7',
          label: '广西GX'
        },
        {
          value: '12',
          label: '贵州GZ'
        },
        {
          value: '26',
          label: '海南HN'
        },
        {
          value: '19',
          label: '河北HB'
        },
        {
          value: '25',
          label: '湖北HB'
        },
        {
          value: '31',
          label: '黑龙江HLJ'
        },
        {
          value: '30',
          label: '河南HN'
        },
        {
          value: '28',
          label: '湖南HN'
        },
        {
          value: '22',
          label: '吉林JL'
        },
        {
          value: '18',
          label: '江苏JS'
        },
        {
          value: '10',
          label: '江西JX'
        },
        {
          value: '14',
          label: '辽宁LN'
        },
        {
          value: '8',
          label: '内蒙古NMG'
        },
        {
          value: '9',
          label: '宁夏NX'
        },
        {
          value: '16',
          label: '青海QH'
        },
        {
          value: '17',
          label: '四川SC'
        },
        {
          value: '29',
          label: '山东SD'
        },
        {
          value: '24',
          label: '上海SH'
        },
        {
          value: '15',
          label: '山西SX'
        },
        {
          value: '13',
          label: '陕西SX'
        },
        {
          value: '6',
          label: '天津TJ'
        },
        {
          value: '2',
          label: '新疆XJ'
        },
        {
          value: '20',
          label: '西藏XZ'
        },

        {
          value: '23',
          label: '云南YN'
        },
        {
          value: '5',
          label: '浙江ZJ'
        }
      ],
      yysOptions: [
        {
          value: '1',
          label: '移动'
        },
        {
          value: '2',
          label: '联通'
        },
        {
          value: '3',
          label: '电信'
        }
      ],
      roamingOptions: [
        {
          value: '0',
          label: '本地'
        },
        {
          value: '1',
          label: '漫游'
        }
      ],
      packageSizeOption: [],
      temp: [],
      tablePackageSizeOption: [],
      packageTypeOptions: [],
      channel: [],
      channelData: [],
      channelIds: []
    }
  },
  methods: {
    handeleGetPackageSize() {
      getPackageSize({ method: 'queryPackageSizeByYYS', yysType: this.yysType })
        .then(res => {
          this.packageSizeOption = this.temp = res
        })
    },
    handlepackageSizeChange(val) {
      if (val.value === '0') {
        this.temp = this.packageSizeOption
        return false
      }
      this.temp = [val]
    },
    handleGetChannel() {
      this.tablePackageSizeOption = []
      this.channelData = []
      getChannel({ method: 'queryChannel', provinceId: this.provinceId.value, yysType: this.yysType, roaming: this.roaming })
        .then(res => {
          this.channel = res
        })
    },
    handleGetChannelData() {
      if (this.channelIds.length > 5) {
        this.$message({
          showClose: true,
          type: 'warning',
          message: '通道数量不能超过5条'
        })
        return false
      }
      if (this.channelIds.length === 0) {
        console.log(this.channelIds)
        this.$message({
          showClose: true,
          type: 'warning',
          message: '查询通道为空,请选择通道'
        })
        return false
      }
      this.tablePackageSizeOption = this.temp
      getChannelData({ method: 'queryChannelDiscount', channelIds: this.channelIds, packageSize: this.packageSize.value, packageType: this.packageType })
        .then(res => {
          console.log(res)
          if (res === '[]') {
            res = []
          }
          this.channelData = res
        })
    },
    handleSelectionChange(val) {
      this.channelIds = val.map(v => v.channelId)
    }
  }
}
</script>
<style>
.green {
  color: #ddd;
  background-color: green;
}
.red {
  color: red;
}
.el-checkbox__inner {
  width: 25px;
  height: 25px;
}
.el-checkbox__inner::after {
  height: 15px;
  left: 7px;
  top: 3px;
  width: 7px;
}
.el-select .el-input__inner {
  width: 150px;
}
.el-table th,
.el-table td {
  text-align: center;
}
.el-table td {
  padding: 0;
  height: 48px;
  line-height: 48px;
}
.el-table_1_column_2 .cell {
  padding: 0;
}
.el-table_1_column_2 .cell div {
  line-height: 48px;
}
</style>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang="less" scoped>
.channelcost {
  padding: 20px;
  header {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 1300px;
    ul {
      display: -webkit-flex; /* Safari */
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      li {
        margin-left: 20px;
        span {
          font-size: 14px;
        }
      }
    }
  }
  section {
    padding: 20px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    div:nth-child(1) {
      button {
        margin-top: 20px;
      }
    }
    div:nth-child(2) {
      position: relative;
      left: 30px;
    }
    .tabWidth {
      width: 1200px;
    }
  }
}
</style>
